* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #c5c5c5;
  color: #873939;
}

a {
  text-decoration: none;
  color: inherit;
}


@media (max-width: 480px) {}

@media (max-width: 880px) {}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}